<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!-- CSS Section -->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/content/app.css' />
</head>

<body>
  <!-- Main Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- My Image Logo-->
      <a class="navbar-brand" href="#">COMP229</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>   <!-- Home link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About Me</a>  <!-- About Me link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">My Projects</a>   <!-- Projects link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services Page</a>   <!-- Services link page -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">My Contact</a>  <!-- Contact link page -->
          </li>
        </ul>

      </div>
    </div>
  </nav>
    
  <div class="container"> <!-- Body container -->
    

  <h1><%= title %></h1>

  </div>

  <!-- Footer Section-->
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Copyright &copy; COMP229 Fall2021 &bull; Geejay Damasco &bull;</a>
    </div>
  </nav>
  <!-- Footer Section-->


  <!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.css"></script>
  <script src="/scripts/app.js"></script>
  <!-- Script Section -->

</body>
</html>

